<!DOCTYPE html>
<html>
  <head>
    <title>Welcome to HyperDev!</title>
    <meta name="description" content="A cool thing made with HyperDev">
    <link id="favicon" rel="icon" href="https://hyperdev.com/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/public/style.css">
  </head>
  <body>
    <header>
      <h1 id='boardTitle'><%=board.name%></h1>
    </header>
    
    <div id='submitNewThread'>
      <h3>Submit a new thread:</h3>
      <form id="newThread" method="post" action="/api/">
        <textarea rows="8" cols="120" type='text' placeholder='Thread text...' name='text' required=''></textarea><br>
        <input type='text' placeholder='password to delete' name='delete_password' required=''><br>
        <input type="submit" value="Submit">
      </form>
    </div>
    
    <% if(threads){ %>
      <div id='boardDisplay'>
        <% threads.forEach(thread=>{ %>
          <div class="thread-container">
            <h4><%=thread.text%></h4>
            <div>THREAD_ID: <%=thread._id%></div>
            <div>CREATED_ON: <%=thread.created_on%></div>
            <!-- Reply text area -->
            <div class="reply-container">
              <form action="/api/replies/<%=board.name%>" method="POST">
                <input type="hidden" name="id" id="" value="<%=thread._id%>">
                <input type="text" name="delete_password" placeholder="Delete Password For Reply">
                <textarea name="text" id="" cols="50" rows="5" placeholder="Reply Text"></textarea>
                <button>SUBMIT REPLY</button>
              </form>
            </div>
            <div class="buttons-container">
              <form action="#">
                <a href=""><button>REPORT</button></a>
              </form>
              <form action="#">
                <input type="password" name="delete_password" placeholder="password">
                <button>DELETE</button>
              </form>
              <a href="#"><button>SEE FULL THREAD</button></a>
            </div>
          </div>
        <% }) %>
      </div>
    <% } %>

    
    <hr style='margin: 50px; margin-top: 200px'>

  </body>
</html>
